.profile-page {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  position: relative;

  >h2 {
    border-bottom: 2px gray solid;
    width: 125px;
    text-align: center;
  }

  .content {
    display: flex;
    justify-content: center;
    width: 100%;

    .user-info {
      box-sizing: border-box;
      padding: 50px;
      height: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 7px;
      border-radius: 10px;
      border: 2px solid grey;
      box-shadow: 2px 2px grey;
      position: absolute;
      left: 10%;
      top: 65px;

      p {
        font-size: 20px;
      }
    }

    .pc-list-box {
      grid-area: list;
      justify-self: center;
    }

  }
}
