.create-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        background-color: #F0FFDE;
        padding: 20px;
        border-radius: 10px;
        width: 50%;
        border: 2px dotted grey;
        max-height: 80vh;
        overflow: auto;

        label {
            display: flex;
            justify-content: space-between;
            align-items: center;

            >p {
                width: 35%;
                font-size: 20px;
            }

            select,
            input
            {
                height: 20px;
                width: 60%;
                font-size: 18px;
                min-height: 30px;
                box-sizing: border-box;
                margin-left: 10px;
                text-align: center;
                border-radius: 5px;
                border: 1px solid skyblue;
                padding: 1px;
                outline: none;
            }
        }
    }

    button {
        width: fit-content;
        cursor: pointer;
        font-size: 22px;
        background-color: #B0D9C4;
        color: darkslategrey;
        border: 1px solid grey;
        padding: 5px;
        border-radius: 4px;
    }

    button:hover {
        background-color: #A0C9B4;
    }

    button:active {
        background-color: #97BFA9;
    }

    .buttons {
        margin-top: 10px;
        gap: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
