.component-item {
  border: 1px solid black;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #F0FFDE;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background-color: #E0EFCE;
  }

  &:active {
    background-color: #D0DFBE;
  }
}
