.pc-list-box {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-height: 80vh;
  min-width: 300px;
  width: 35%;
  border-radius: 10px;
  border: 2px grey dashed;
  padding: 10px;
  height: fit-content;

  .title {
    font-size: 24px;
    text-align: center;
    border-bottom: 2px grey solid;
    position: sticky;
  }

  .filter-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 0 0 0;
    box-shadow: 0 2px grey;

    >select {
      width: 50%;
      align-self: center;
      height: 20px;
      font-size: 18px;
      min-height: 30px;
      text-align: center;
      border-radius: 5px;
      border: 1px solid skyblue;
      padding: 1px;
      outline: none;
    }
  }

  .filter-button {
    cursor: pointer;
    font-size: 22px;
    color: black;
    width: 50%;
    background-color: inherit;
    border: 1px solid grey;
    padding: 5px;
    border-radius: 4px;
    box-shadow: grey 1px 1px;
    margin: 10px auto;
  }

  .scroll-box {
    max-height: 70vh;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .pc-list {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
}

.pc-list-box.all{
  background-color: #D0F9E4;
}
.pc-list-box.recommended {
  background-color: #60E080C0;
}
.pc-list-box.user {
  background-color: azure;
}
