.pc-list-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
  max-height: 80vh;
  min-width: 300px;
  width: 35%;
  border-radius: 10px;
  border: 2px grey dashed;
  padding: 10px;

  .title {
    font-size: 24px;
    text-align: center;
    border-bottom: 2px grey solid;
    position: sticky;
  }

  .filter-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .scroll-box {
    max-height: 70vh;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .pc-list {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
}

.pc-list-box.all{
  background-color: #D0F9E4;
}
.pc-list-box.recommended {
  background-color: #60E080C0;
}
.pc-list-box.user {
  background-color: azure;
}
